<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret sang</title>
</head>
<body>
<h1> Opret en ny sang</h1>

<form action="/create" method="post">
  <label for="name-field">name</label>
  <input id="name-field" name="name" type="text">

  <label for="genre-field">genre</label>
  <input id="genre-field" name="genre" type="text">

  <label for="album-field">albumName </label>
  <input id="album-field" name="albumName" type="text">

  <label for="price-field">albumYear </label>
  <input id="price-field" name="albumYear" type="text">

  <input type="submit" value="Opret album">

</form>

<div>
  <a href="musik" class="myButton"> Gå tilbage til startsiden</a>
</div>

</body>
</html>